* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  position: relative;
  display: flex;
  flex-direction: column;
}

.elem {
  flex: 1;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  overflow: hidden;
}

.elem h1 {
  font-size: 10vw;
  padding-left: 30px;
}

.elem img {
  border-radius: 50%;
  height: 100%;
  width: auto;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
  mix-blend-mode: difference;
}
